.pixel {
  background-color: rgb(11, 36, 159);
  width: 50px;
  height: 50px;
  margin: 3px;
}

.pixel-row {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
}

.color {
  background-color: rgb(232, 232, 232);
  width: 200px;
  height: 500px;
  margin: 5px;
}

.content {
  display: flex;
}
